
/*
.root {
    -fx-background-image: url("../assets/bg3.jpg");  
    -fx-background-position: center center;
}
*/
.glasss{
    -fx-background-color: rgba(0, 50, 50, 0.5); 
    -fx-background-radius: 10;
}